.contacts {
  margin-top: 151px;
}

.contacts__title {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.contacts__address {
  margin: 0;
  margin-right: 13px;
  margin-bottom: 41px;
  padding: 0;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
}

iframe {
  border: 0;
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  color: rgba($black, 0.5);
  margin-bottom: 98px;
}

.contacts__email,
.contacts__phone {
  display: block;
  position: relative;
  margin-left: 24px;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 24px;
    top: 0;
    left: -34px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.contacts__email {
  margin-right: 105px;

  &::before {
    top: 2px;
    left: -41px;
    background-image: url("../img/icon-mail.svg");
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-top: 70px;
  }

  .contacts__title {
    margin-bottom: 20px;
    font-size: 24px;
    margin-right: 0;
  }

  .contacts__address {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 100%;

    br {
      display: none;
    }
  }

  iframe {
    max-width: 698px;
    margin-bottom: 36px;
  }

  .contacts__wrapper {
    margin-bottom: 54px;
  }

  .contacts__email,
  .contacts__phone {
    margin-left: 29px;
  }

  .contacts__email {
    margin-right: 99px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    .container {
      min-width: 100%;
    }
  }

  .contacts__title {
    font-size: 18px;
  }


  iframe {
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 30px;
  }

  .contacts__address {
    margin: 0 auto;
    margin-bottom: 21px;
    max-width: 270px;

    br {
      display: none;
    }
  }

  .contacts__wrapper {
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 35px;
  }

  .contacts__phone {
    margin-left: 0;
    margin-right: 10px;
  }

  .contacts__email {
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 23px;
  }
}
