.contacts {
  margin-top: 151px;

  .container {
    p:first-child {
      margin: 0;
      margin-right: 10px;
      margin-bottom: 30px;
      padding: 0;
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      color: $darkest;
    }

    p:nth-child(2n) {
      margin: 0 auto;
      padding: 0;
      padding-right: 13px;
      margin-bottom: 41px;
      font-size: 17px;
      line-height: 31px;
      text-align: center;
      color: rgba($black, 0.7);
      max-width: 555px;
    }
  }

  iframe {
    border: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 38px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  color: rgba($black, 0.5);
  margin-bottom: 98px;
}

.contacts__email,
.contacts__phone {
  display: block;
  position: relative;
  margin-left: 24px;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 24px;
    top: 0;
    left: -34px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }

  &:focus,
  &:hover {
    color: $black;
  }

  &:active {
    color: rgba($black, 0.1);
  }
}

.contacts__email {
  margin-right: 105px;

  &::before {
    top: 2px;
    left: -41px;
    background-image: url("../img/icon-mail.svg");
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-top: 70px;

    .container {
      p:first-child {
        margin-bottom: 20px;
        font-size: 24px;
        margin-right: 0;
      }

      p:nth-child(2n) {
        margin-bottom: 20px;
        padding-right: 0;
        max-width: 100%;
      }
    }

    iframe {
      max-width: 698px;
      margin-bottom: 36px;
    }
  }

  .contacts__wrapper {
    margin-bottom: 54px;
  }

  .contacts__email,
  .contacts__phone {
    margin-left: 29px;
  }

  .contacts__email {
    margin-right: 99px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    iframe {
      max-width: 100%;
      max-height: 250px;
      margin-bottom: 30px;
    }

    .container {
      min-width: 100%;

      p:first-child {
        font-size: 18px;
      }

      p:nth-child(2n) {
        margin: 0 auto;
        margin-bottom: 21px;
        max-width: 270px;
      }
    }
  }

  .contacts__wrapper {
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 35px;
  }

  .contacts__phone {
    margin-left: 0;
    margin-right: 10px;
  }

  .contacts__email {
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 23px;
  }
}
