.facts {
  padding-top: 150px;
  padding-bottom: 151px;
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: $darkest;
  }
}

.facts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  display: flex;
  flex-wrap: wrap;
  counter-reset: section;
}

.facts__item {
  max-width: 263px;
  margin-left: 19px;
  margin-right: 19px;

  &:nth-child(4n-3) {
    margin-left: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    margin: 0;
    margin-top: 51px;
    padding: 0;
    letter-spacing: -0.5px;
    position: relative;

    &::before {
      position: absolute;
      counter-increment: section;
      content: "0" counter(section);
      color: $cyan;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      top: -52px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

@media (max-width: $desktop-width + 143px) {
  .facts__list {
    margin: 0 auto;
    max-width: 905px;
  }

  .facts__item {
    &:nth-child(3n-2) {
      margin-left: 19px;
    }

    &:nth-child(4n-3) {
      margin-left: 19px;
    }

    &:nth-child(4n) {
      margin-right: 19px;
      margin-left: 19px;
    }
  }
}

@media (max-width: $tablet-width) {
  .facts {
    padding: 0;
    padding-bottom: 27px;

    p {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 41px;
    }
  }

  .facts__list {
    justify-content: center;
  }

  .facts__item {
    margin: 0;
    margin-bottom: 42px;

    &:nth-child(4n-3),
    &:nth-child(3n-2) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
      margin-left: 0;
    }

    p {
      font-size: 22px;
      line-height: 34px;
      margin: 0;
      margin-top: 55px;

      &::before {
        top: -55px;
      }
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .facts {
    padding: 70px 0;
    padding-bottom: 82px;
  }

  .facts__item {
    margin-bottom: 37px;

    &:first-child {
      margin-bottom: 28px;

      p {
        &::before {
          top: -55px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: 18px;

      &::before {
        top: -45px;
      }
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
