.facts {
  margin-top: 150px;
  margin-bottom: 148px;
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: $darkest;
  }
}

.facts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.facts__item {
  max-width: 263px;
  margin-left: 19px;
  margin-right: 19px;

  &:nth-child(4n-3) {
    margin-left: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:first-child {
    p:first-child {
      margin-bottom: 17px;
    }
  }

  p:first-child {
    color: $cyan;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
  }

  p:last-child {
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
  }
}

@media (max-width: $desktop-width + 142px) {
  .facts__item {
    &:nth-child(4n-3) {
      margin-left: 19px;
    }

    &:nth-child(3n-2) {
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 19px;
      margin-left: 0;
    }

    &:first-child {
      p:first-child {
        margin-bottom: 17px;
      }
    }

    p:first-child {
      color: $cyan;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      margin: 0;
      margin-bottom: 14px;
      padding: 0;
    }

    p:last-child {
      font-size: 22px;
      line-height: 34px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      letter-spacing: -0.5px;
    }
  }
}

@media (max-width: $tablet-width) {
  .facts {
    margin: 0;
    margin-bottom: 30px;

    p {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 41px;
    }
  }

  .facts__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .facts__item {
    margin: 0;
    margin-bottom: 40px;

    p:first-child {
      margin-bottom: 18px;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .facts {
    margin: 70px 0;
    margin-bottom: 32px;
  }

  .facts__item {
    margin-bottom: 36px;

    &:first-child {
      p:first-child {
        margin-bottom: 17px;
      }

      p:last-child {
        padding-bottom: 2px;
      }
    }

    p:first-child {
      margin-bottom: 6px;
    }

    p:last-child {
      font-size: 18px;
      padding-bottom: 13px;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
