.intro {
  color: $white;
  max-width: 393px;

  p {
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 24px;
    padding: 0;
    color: rgba($white, 0.8);
  }

  p:last-child {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    max-width: 100%;
    text-align: center;

    p {
      font-size: 30px;
      line-height: 42px;
      margin-top: 84px;
      margin-bottom: 20px;
    }

    p:last-child {
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 80px;
      max-width: 435px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .intro {
    p {
      margin-top: 70px;
    }

    p:last-child {
      margin: auto;
      margin-bottom: 70px;
      max-width: 288px;
    }
  }
}
