.main-nav {
  margin: 0 auto;
  margin-bottom: 255px;
  max-width: 880px;
}

.main-nav__list {
  margin: 0;
  margin-top: 21px;
  padding: 0 25px;
  padding-bottom: 9px;
  list-style: none;
  color: rgba($white, 0.7);
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($white, 0.2);
}

@media (max-width: $tablet-width) {
  .main-nav {
    margin: 0;

    .container {
      min-width: 100%;
    }
  }

  .main-nav__list {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    flex-direction: column;
  }

  .main-nav__item {
    margin: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    background-color: $lightgrey;
    color: $darkgrey;
    padding: 17px 35px 17px 16px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 22px;
      height: 17px;
      top: 23px;
      right: 25px;
      background-image: url("../img/icon-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .main-nav--closed {
    .main-nav__list {
      display: none;
    }
  }

  .main-nav--nojs {
    min-width: 100%;

    .main-nav__list {
      display: block;
      margin-top: 10px;
      position: static;
    }
  }

  .main-nav--opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }
}
