.types {
  background-color: $light;
  padding-top: 151px;
  padding-bottom: 148px;

  .container {
    max-width: 1128px;
  }

  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 51px;
    text-align: center;
    color: $darkest;
  }
}

.types__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.types__item {
  position: relative;

  img {
    border-radius: 10px;
  }

  &:nth-child(3n-1) {
    margin-top: 39px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 47px;
      width: 47px;
      background-image: url("../img/icon-rectangle.svg");
      top: -18px;
      left: -19px;
    }

    &::after {
      top: auto;
      left: auto;
      bottom: 30px;
      right: -25px;
    }
  }

  &:first-child {
    z-index: 1;
    margin-top: 10px;

    &::before {
      position: absolute;
      content: "";
      height: 180px;
      width: 180px;
      background-image: url("../img/icon-ellipse.svg");
      background-size: contain;
      top: 156px;
      left: -60px;
      z-index: -1;
    }
  }

  &:last-child {
    &::before {
      position: absolute;
      content: "";
      height: 95px;
      width: 95px;
      background-image: url("../img/icon-ellipse-small.svg");
      background-size: contain;
      top: -32px;
      right: -36px;
    }
  }

  p {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    letter-spacing: -0.5px;
  }
}

@media (max-width: $desktop-width + 200px) {
  .types {
    .container {
      max-width: 1000px;
    }
  }

  .types__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .types__item {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;

    &:nth-child(3n-1) {
      margin-top: 0;

      &::after {
        right: 0;
      }
    }

    &:last-child {
      &::before {
        right: 0;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .types {
    padding-top: 50px;
    padding-bottom: 20px;

    h2 {
      font-size: 24px;
      line-height: 41px;
      margin-bottom: 30px;
    }
  }

  .types__list {
    justify-content: center;
    margin: auto;
    max-width: 800px;
  }

  .types__item {
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;

    img {
      max-height: 300px;
      max-width: 270px;
      object-fit: cover;
    }

    &:nth-child(3n-1) {
      margin-top: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &:first-child {
      margin-top: 0;

      &::before {
        height: 127px;
        width: 127px;
        top: 201px;
        left: -37px;
      }
    }

    &:last-child {
      &::before {
        height: 68px;
        width: 68px;
        top: -20px;
        right: -25px;
      }
    }
  }
}

@media (max-width: $mobile-width-only) {
  .types {
    padding-top: 50px;
    padding-bottom: 12px;
  }

  .types__list {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .types__item {
    margin-bottom: 42px;

    &:first-child {
      &::before {
        top: 200px;
        left: -24px;
      }
    }

    &:last-child {
      &::before {
        right: -15px;
      }
    }
  }
}
