.video {
  padding-top: 120px;
  background: linear-gradient($dark 88%, $white 88%);
  color: $white;
  text-align: center;

  .container {
    position: relative;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0;
    color: rgba($white, 0.7);
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }
}

.video__preview {
  position: relative;
  max-height: 522px;
}

.video__button {
  border: 0;
  background: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}

@media (max-width: $tablet-width) {
  .video {
    padding-top: 70px;
    background: linear-gradient($dark 83%, $white 83%);

    p {
      max-width: 429px;
      margin-bottom: 40px;
    }

    h2 {
      margin-right: 0;
      font-size: 24px;
    }
  }

  .video__preview {
    img {
      height: 282px;
      width: 503px;
      object-fit: cover;
    }
  }

  .video__button {
    transform: translate(-50%, 30%);

    svg {
      width: 90px;
      height: 90px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .video {
    padding-top: 84px;
    background: linear-gradient($dark 89%, $white 89%);

    p {
      margin-bottom: 53px;
    }

    h2{
      margin-right: 12px;
    }
  }

  .video__preview {
    img {
      height: 161px;
      width: 288px;
      object-fit: cover;
    }
  }

  .video__button {
    transform: translate(-50%, 85%);

    svg {
      width: 65px;
      height: 65px;
    }
  }
}
