// Colors

$darkest: #1f1f1f;
$black: #000000;
$cyan: #0ad9c6;
$dark: #131314;
$darkgrey: #48494d;
$grey: #1c1c1c;
$lightgrey: #f6f6f6;
$light: #f6f7f9;
$white: #ffffff;
$fieldborder: #c9ccd4;
$warning: #964141;

//Resolutions

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
