@import "normalize.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/page-body.scss";
@import "blocks/header.scss";
@import "blocks/contacts.scss";
@import "blocks/form.scss";
@import "blocks/footer.scss";
@import "blocks/intro.scss";
@import "blocks/main-nav.scss";
@import "blocks/facts.scss";
@import "blocks/video.scss";
@import "blocks/types.scss";
